<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>poker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/snackbar.css">
</head>
<body>
    <div>
        <select class="date-select">
            <option value="">---</option>
        </select>
        <select class="round-select">
            <option value="">---</option>
        </select>
    </div>
    <br>
    <div class="total-summary">
        <label class="win-rate"></label>
        <label class="final-chips"></label>
        <a class="expand detail-operation">Expand all</a>
        <a class="collapse detail-operation">Collapse all</a>
        <div id="snackbar"></div>
    </div>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>
